[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses-json = "*"
python-dotenv = "*"
requests = "*"
tqdm = "*"
configparser = "*"

[dev-packages]
cloudinary = "*"
unitypy = "*"
scrapy = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
